:root {
  /* fonts */
  --font-inria-sans: "Inria Sans";
  --font-roboto: Roboto;
  --font-inter: Inter;
  --reg-14-03-px: Mulish;

  /* font sizes */
  --bold-12-03-px-caps-size: 12px;
  --reg-14-03-px-size: 14px;
  --font-size-sm: 25px;
  --font-size-base: 40px;
  --font-size-lg: 80px;

  /* Colors */
  --grayscale-extra-light: #fcfdfe;
  --color-gray-200: #f4f2f2;
  --grayscale-gray-lightest: #f0f1f7;
  --color-gray-400: #f4efef;
  --color-gray-500: #5f5f5f;
  --grayscale-gray-dark: #4b506d;
  --color-gray-700: rgba(0, 0, 0, 0.56);
  --color-black: #000;
  --color-white: #fff;
  --color-teal-100: #007e94;
  --color-teal-200: rgba(52, 130, 174, 0.75);
  --color-indigo: rgba(18, 65, 186, 0.87);

  /* border radiuses */
  --br-xs: 8px;
  --br-sm: 10px;
  --br-md: 15px;
  --br-lg: 30px;
}
