{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Sign Up</title>

    <!-- Custom fonts for this template-->
    <link href="{% static 'vendor/fontawesome-free/css/all.min.css' %}" rel="stylesheet" type="text/css">
    <link
        href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"
        rel="stylesheet">

    <!-- Custom styles for this template-->
    <link href="{% static 'css/sb-admin-2.min.css' %}" rel="stylesheet">

</head>

<body >

    <div class="container">

        <div class="card o-hidden border-0 shadow-lg my-5">
            <div class="card-body p-0">
                <!-- Nested Row within Card Body -->
                <div class="row">
                    
                    <div style="background-color: #4e73df;"; class="col-lg-5 d-none d-lg-block bg-login-image">
                        <h1 style="margin-top: 50px; margin-left: 50px; color: white;"><i class="fas fa-file"></i>   Secure File  
                            
                        </h1>
                        <h2 class="pt-6" style="color: white; margin-top: 50px; margin-left: 50px;">Sign Up Now</h2>
                        <p style="color: white; margin-left: 50px; margin-top: 25px;">Create a free account to get started</p>
                    </div>
                    <div class="col-lg-7">
                        <div class="p-5">
                            <!-- <div class="text-center">
                                <h1 class="h4 text-gray-900 mb-4">Create an Account!</h1>
                            </div> -->

                            <form action="{% url 'sign_up' %}" method="POST" class="user">
                                {% csrf_token %}
                                <div class="form-group row">
                                    <div class="col-sm-12 mb-3 mb-sm-0">
                                        <p>Name</p>
                                        <input type="text" class="form-control form-control-user" id="exampleFirstName" name="name"
                                            placeholder="Enter Your First Name">
                                    </div>
                                    
                                </div>
                                <div class="form-group">
                                    <p>Email</p>
                                    <input type="email" class="form-control form-control-user" id="exampleInputEmail"
                                        placeholder="Email Address" name="email1">
                                </div>
                                <div class="form-group row">
                                    <div class="col-sm-12 mb-3 mb-sm-0">
                                        <p>Password</p>
                                            <input type="password" name="password1" autocomplete="current-password" required="" id="id_password" placeholder="Enter Your Password" class="form-control form-control-user far fa-eye">
  <i class="far fa-eye " id="togglePassword"  style="margin-left: 500px;
  cursor: pointer;
  z-index: 999;
  margin-top: -30px;
  position: absolute;"></i>
                                    </div>
                                    <div style="margin-top: 10px;" class="col-sm-12 mb-3 mb-sm-0">
                                        <p>Password</p>
                                            <input type="password" name="password2" autocomplete="current-password" required="" id="id_password1" placeholder="Confirm Your Password" class="form-control form-control-user far fa-eye">
  <i class="far fa-eye " id="togglePassword1"  style="margin-left: 500px;
  cursor: pointer;
  z-index: 999;
  margin-top: -30px;
  position: absolute;"></i>
                                    </div>
                                    
                                </div>
                                <!-- <div class="form-group">
                                    <p>Confirm Password</p>
                                    <input type="password" class="form-control form-control-user" id="exampleInputEmail"
                                        placeholder="Confirm Password" name="password2">
                                </div> -->
                                <button type ="submit" class="btn btn-primary btn-user btn-block">    Sign Up </button>
                                 
                                
                                
                            </form>
                           
                            <div class="text-center">
                                <a class="small" href="index">Already have an account? Login!</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
<!-- eye password -->
<script>
    const togglePassword = document.querySelector('#togglePassword');
  const password = document.querySelector('#id_password');

  togglePassword.addEventListener('click', function (e) {
    // toggle the type attribute
    const type = password.getAttribute('type') === 'password' ? 'text' : 'password';
    password.setAttribute('type', type);
    // toggle the eye slash icon
    this.classList.toggle('fa-eye-slash');
});
</script>
<!-- confirm password-->

<script>
    const togglePassword1 = document.querySelector('#togglePassword1');
  const password1 = document.querySelector('#id_password1');

  togglePassword1.addEventListener('click', function (e) {
    // toggle the type attribute
    const type = password1.getAttribute('type') === 'password' ? 'text' : 'password';
    password1.setAttribute('type', type);
    // toggle the eye slash icon
    this.classList.toggle('fa-eye-slash');
});
</script>
    <!-- Bootstrap core JavaScript-->
    <script src="{% static 'vendor/jquery/jquery.min.js' %}"></script>
    <script src="{% static 'vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>

    <!-- Core plugin JavaScript-->
    <script src="{% static 'vendor/jquery-easing/jquery.easing.min.js' %}"></script>

    <!-- Custom scripts for all pages-->
    <script src="{% static 'js/sb-admin-2.min.js' %}"></script>

</body>

</html>